# pklを無視する
*.pkl

# pycを無視する
*.pyc

# docxを無視する
*.docx

# __pycacheを無視する
*.pyc

# batを無視する
*.bat

# config.pyを無視
/config.py

# 既にadd/commitされたファイルは、該当ディレクトリにて、
# git rm --cached ファイル名 
# でキャッシュを削除する必要がある
